In [1]:
obj = """
{"name": "Ashwin",
"places_lived": ["Nashik", "Hyderabad", "Bangalore"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [2]:
print(obj)

{"name": "Ashwin",
"places_lived": ["Nashik", "Hyderabad", "Bangalore"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}

In [5]:
print(type(obj))

<class 'str'>

In [3]:
import json
result = json.loads(obj)

In [4]:
print(result)

{'name': 'Ashwin', 'places_lived': ['Nashik', 'Hyderabad', 'Bangalore'], 'pet': None, 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']}, {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [6]:
print(type(result))

<class 'dict'>

In [7]:
import pandas as pd
df1 = pd.DataFrame(result['siblings'], columns=['name', 'age'])

In [8]:
print(df1)

    name  age
0  Scott   30
1  Katie   38

In [9]:
df2 = pd.read_json('example_2.json')

In [10]:
df2

                                                    quiz
maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...
sport  {'q1': {'question': 'Which one is correct team...