In [1]:
import pandas as pd
data = [1, 2, 3, 4, 5]

In [2]:
df1 = pd.DataFrame(data)

In [3]:
df1

   0
0  1
1  2
2  3
3  4
4  5

In [5]:
df1.to_pickle('mypickle')

In [6]:
df2 = pd.read_pickle('mypickle')

In [7]:
df2

   0
0  1
1  2
2  3
3  4
4  5